/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.custom-bg {
  position: relative;
}

.custom-bg::before {
  content: "";
  display: block;
  position: absolute;
  inset: 8.33% 0 0 0;
  background: rgb(var(--bs-dark-rgb));
  z-index: -1;
  border-radius: 0.3rem;
}

@media (min-width: 992px) {
  .custom-bg::before {
    inset: 0 0 0 8.33%;
  }
}
