.custom-bg-container {
  position: relative;

  img {
    object-fit: cover;
    height: 100%;
  }
}

.custom-bg::before {
  content: "";
  display: block;
  position: absolute;
  inset: 8.33% 0 0 0;
  background: #e9ecef;
  z-index: -1;
  border-radius: 0.3rem;
}

@media (min-width: 992px) {
  .custom-bg::before {
    inset: 0 0 115px 8.33%;
  }
}
